.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.wrapper {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
}

.voteSection {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  flex: 2;
}

.mostVoted {
  flex: 1;
}
